
<div>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
	<%= devise_error_messages! %>
	<div id="user-profile-1" class="user-profile row">




		<!-- #section:pages/profile.contact -->


		

<legend>Avatar</legend>
<%= f.file_field :avatar %>

		<!-- /section:custom/extra.grid -->

		

		<div class="col-md-4">


			<div class="space-12"></div>

			<!-- Namw-->
			<h4 class="blue">
				<span class="middle"> <%= @user.name %> <%= @user.last_name %> 

				</span>

			</h4>





			<!-- #section:pages/profile.info -->
			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
					<div class="profile-info-name">First Name </div>

					<div class="profile-info-value">
						<span class="editable" id="username"> <%= f.text_field :name %> </span>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name">Last Name </div>

					<div class="profile-info-value">
						<span class="editable" id="username"> <%= f.text_field :last_name %> </span>
					</div>
				</div>

				<div class="profile-info-row email_form">
					<div class="profile-info-name">Email </div>

					<div class="profile-info-value">
						<span class="editable" id="email_form">  <%= f.email_field :email %> </span>
						<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
						<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
						<% end %>
						
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name"> Location </div>

					<div class="profile-info-value">

						<span class="editable" id="country"><%= f.text_field :location %></span>
					</div>
				</div>







				<div class="profile-info-row">
					<div class="profile-info-name"> Interest </div>

					<div class="profile-info-value">
						<span class="editable" id="about"><%= f.text_field :interest %></span>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name"> Field of Work </div>

					<div class="profile-info-value">
						<span class="editable" id="about"><%= f.text_field :works_in %></span>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-4">


			<div class="space-12"></div>

			<!-- Namw-->
			<h4 class="blue">
				<span class="middle"> Websites

				</span>

			</h4>





			<!-- #section:pages/profile.info -->
			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
					<div class="profile-info-name">Personal</div>

					<div class="profile-info-value">
						<i class="middle ace-icon fa fa-globe fa-2x blue"></i>
						<span class="editable" id="username"> <%= f.text_field :website %> </span>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name">Facebook </div>

					<div class="profile-info-value">
						<i class="middle ace-icon fa fa-facebook-square fa-2x blue"></i>
						<span class="editable" id="username"> <%= f.text_field :facebook %> </span>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name">Twitter </div>

					<div class="profile-info-value">
						<i class="middle ace-icon fa fa-twitter-square fa-2x light-blue"></i>
						<span class="editable" id="username"> <%= f.text_field :twitter %> </span>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name"> LinkedIn </div>

					<div class="profile-info-value">
						<i class="middle ace-icon fa fa-linkedin-square fa-2x red"></i>

						<span class="editable" id="country"><%= f.text_field :linkedin %></span>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name"> GitHub </div>

					<div class="profile-info-value">
						<i class="middle ace-icon fa fa-github-square fa-2x black"></i>

						<span class="editable" id="country"><%= f.text_field :github %></span>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-4">


			<div class="space-12"></div>

			<!-- Namw-->
			<h4 class="blue">
				<span class="middle"> Change Password

				</span>

			</h4>





			<!-- #section:pages/profile.info -->
			<div class="profile-user-info profile-user-info-striped">
				<fieldset>
					<p>Leave these fields blank if you don't want to change your password.</p>
					<div class="profile-info-row">
						<div class="profile-info-name">Password</div>

						<div class="profile-info-value">

							<span class="editable" id="password"> <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %> </span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> Confirmation </div>

						<div class="profile-info-value">

							<span class="editable" id="username"> <%= f.password_field :password_confirmation, class: 'form-control' %> </span>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<p>You must enter your current password to make changes.</p>
					<div class="profile-info-row">
						<div class="profile-info-name"> Current</div>

						<div class="profile-info-value">

							<span class="editable" id="username"> <%= f.password_field :current_password, class: 'form-control' %> </span>
						</div>
					</div>
				</fieldset>

				
			</div>
		</div>
	</div>
</div>






<div class="space-20"></div>

<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="widget-box transparent">
			<div class="widget-header widget-header-small">
				<h4 class="widget-title smaller">
					<i class="ace-icon fa fa-check-square-o bigger-110"></i>
					Little About Me
				</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main">
					<p>
						<%= f.text_area :info, :size => "50x10" %>
					</p>

				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="widget-box transparent">
			<div class="widget-header widget-header-small header-color-blue2">
				<h4 class="widget-title smaller">
					<i class="ace-icon fa fa-lightbulb-o bigger-120"></i>
					My Skills
				</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main padding-16">
					<div class="clearfix">
						<div class="grid3 center">
							<!-- #section:plugins/charts.easypiechart -->
							<div class="easy-pie-chart percentage" data-percent="45" data-color="#CA5952">
								<span class="percent">45</span>%
							</div>

							<!-- /section:plugins/charts.easypiechart -->
							<div class="space-2"></div>
							Graphic Design
						</div>

						<div class="grid3 center">
							<div class="center easy-pie-chart percentage" data-percent="90" data-color="#59A84B">
								<span class="percent">90</span>%
							</div>

							<div class="space-2"></div>
							HTML5 & CSS3
						</div>

						<div class="grid3 center">
							<div class="center easy-pie-chart percentage" data-percent="80" data-color="#9585BF">
								<span class="percent">80</span>%
							</div>

							<div class="space-2"></div>
							Javascript/jQuery
						</div>
					</div>

					<div class="hr hr-16"></div>

					<!-- #section:pages/profile.skill-progress -->
					<div class="profile-skills">
						<div class="progress">
							<div class="progress-bar" style="width:80%">
								<span class="pull-left">HTML5 & CSS3</span>
								<span class="pull-right">80%</span>
							</div>
						</div>

						<div class="progress">
							<div class="progress-bar progress-bar-success" style="width:72%">
								<span class="pull-left">Javascript & jQuery</span>

								<span class="pull-right">72%</span>
							</div>
						</div>

						<div class="progress">
							<div class="progress-bar progress-bar-purple" style="width:70%">
								<span class="pull-left">PHP & MySQL</span>

								<span class="pull-right">70%</span>
							</div>
						</div>

						<div class="progress">
							<div class="progress-bar progress-bar-warning" style="width:50%">
								<span class="pull-left">Wordpress</span>

								<span class="pull-right">50%</span>
							</div>
						</div>

						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width:38%">
								<span class="pull-left">Photoshop</span>

								<span class="pull-right">38%</span>
							</div>
						</div>
					</div>

					<!-- /section:pages/profile.skill-progress -->
				</div>
			</div>
		</div>


	</div>
	<%= f.submit 'Update', :class => 'button right' %>
	<% end %>
</div>
<div class="authform">
	<h3>Cancel Account</h3>
	<p>Unhappy? We'll be sad to see you go.</p>

	 	<!-- Button trigger modal -->
<button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">
  DELETE ACCOUNT
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
       ARE YOU SURE? PLZ STAY
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id= "DelAcc" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</div>	

<script type="text/javascript">
    $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
        e.stopPropagation();
    });
</script>

<script type="text/javascript">
$(function(){

$('#DelAcc').on('click', function (e) {

    <%= @connection = ActiveRecord::Base.connection %>
 <% @connection.exec_query("DELETE FROM users WHERE id="+current_user.id.to_s+";") %>

});
});
</script>

