<h1>Editing project</h1>


<%= nested_form_for(@project) do |f| %>


<form role="form">
	<div class="form-group">
		<label for="exampleInputEmail1">Description</label>
		<span class="editable" id="description"> <%= f.text_area :description %> </span>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Slogan</label>
		<span class="editable" id="description"> <%= f.text_field :slogan %> </span>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Project Link</label>
		<span class="editable" id="description"> <%= f.text_field :link %> </span>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">GitHub link Link</label>
		<span class="editable" id="description"> <%= f.text_field :git %> </span>
	</div>

	<div class="thing">
    <%= f.fields_for :tasks do |task_form| %>
  <%= task_form.text_field :task_name %>
<%= task_form.text_field :description %>
  <%= task_form.link_to_remove "Remove this task" %>
<% end %>
<p><%= f.link_to_add "Add a task", :tasks %></p>
  </div>

	<%= f.submit 'Update', :class => 'button left' %>
	<% end %>
</form>

