<script type="text/javascript">
$(document).ready(function(){ 
    $("#myTab a").click(function(e){
    	e.preventDefault();
    	$(this).tab('show');
    });
});
</script>



<div class= "project-pic col-md-3" >
	
	<span class="profile-picture">
<<<<<<< HEAD
		<img id="avatar" class="editable img-responsive" alt="profile pic" src= <%=asset_path('project.gif')%> >
=======
		<% unless @creator.avatar_url.nil? %><%= image_tag @creator.avatar_url %><br /><% end %>
>>>>>>> 2d238fd23dc7170035f91801cba313cab3100aad
	</span>
</div>
<div class="jumbotron col-md-6">
	<h1><%= @project.name %></h1>
	<p><em><%= @project.slogan %></em></p>
	<p><strong>Author: </strong><%= link_to @creator.name, @creator if @creator %></p>
	<% if current_user.id == @creator %>
    <p><a class="btn btn-primary btn-lg" href="" role="button">Delete Project!</a></p>
   <% else %>
   <p><a class="btn btn-primary btn-lg" href="" role="button">Join Project!</a></p>
    
    <% end %>
</div>


<div class= "col-md-3">
	
<ol class="breadcrumb lala">
  <li><i class="ace-icon fa  fa-eye "></i> 100</li>
  <li><i class="ace-icon fa  fa-comment "></i> 3</li>
  <li><i class="glyphicon glyphicon-user "></i> 23</li>
</ol> 


</div>
<div class = "col-md-12">
	

<ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#overview">Overview</a></li>
        <li><a href="#sectionB">Requirements</a></li>
        <li><a href="#sectionC">Progress</a></li>
        
    </ul>
    <div class="tab-content">
        <div id="overview" class="tab-pane fade in active">

            <h3>Description</h3>
            <p><%= @project.description %></p>
            <div class= "col-md-6">
        		<h3>Collaborators</h3>
        		
        	</div>
        	<div class= "col-md-6">
        		<h3>Followers</h3>
        		
        	</div>
        </div>


        <div id="sectionB" class="tab-pane fade">
            <h3>Requirements</h3>
            <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
        </div>
        <div id="sectionC" class="tab-pane fade">
            <h3>Progress</h3>
            <p>WInteger convallis, nulla in sollicitudin placerat, ligula enim auctor lectus, in mollis diam dolor at lorem. Sed bibendum nibh sit amet dictum feugiat. Vivamus arcu sem, cursus a feugiat ut, iaculis at erat. Donec vehicula at ligula vitae venenatis. Sed nunc nulla, vehicula non porttitor in, pharetra et dolor. Fusce nec velit velit. Pellentesque consectetur eros.</p>
        </div>
        
    </div>
</div>