<!-- WHAT DO? -->
<script type="text/javascript">
    $(document).ready(function(){ 
        $("#myTab a").click(function(e){
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>


<div class="jumbotron col-md-6">
<!-- Image on the left -->
  <div class= "project-pic col-md-6" >
    <span class="profile-picture">
      <img id="avatar" class="editable img-responsive" alt="profile pic" src= <%=asset_path('project.gif')%> >
    </span>
  </div>
<!-- Info on the right -->
  <div class= "project-pic col-md-6" >
    <h3><%= @project.name %> </h3>
    <ol class="breadcrumb">
      <li><i class="ace-icon fa  fa-eye "></i> X </li><!-- Query for views goes here (?) -->
      <li><i class="ace-icon fa  fa-comment "></i> X </li><!-- Query on comments_on goes here -->
      <li><i class="glyphicon glyphicon-user "></i> X </li><!-- Query on contributors goes here -->
    </ol> 
    <em><%= @project.slogan %></em>
    <p><strong>Author: </strong><%= link_to @creator.name, @creator if @creator %></p>

    <!-- Buttons that depend on user id -->
    <% if current_user.id == @creator.id %>
    <table>
      <tr><td><%=button_to "Edit",{:controller => "projects", :action => :edit}, :class => "btn btn-success btn-lg", :method => :get%></td>
        <td><%=button_to "Delete", {:controller => "projects", :action => :destroy},:class => "btn btn-danger btn-lg",:method => :delete%></td>
      </tr>
    </table>
    <% else %>
    <table>
      <tr>
        <td><form id="JoinProject"><button type="submit" class="btn btn-primary btn-lg">Join</button></form></td>
        <td><p><%=button_to "Follow", {},:class => "btn btn-success btn-lg" %></p></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>
<!-- Tabbed content -->
<div class = "col-md-6">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#overview">Overview</a></li>
        <li><a href="#sectionB">Requirements</a></li>
        <li><a href="#sectionC">Tasks</a></li>
        <li><a href="#sectionD">Contributors</a></li>
        <li><a href="#sectionE">Followers</a></li>
    </ul>

    <div class="tab-content">

        <div id="overview" class="tab-pane fade in active">
            <h3>Description</h3>
            <p><%= @project.description %></p>
        </div>

        <div id="sectionB" class="tab-pane fade">
            <h3>Requirements</h3>
            <p>Query for requires tasks goes here</p>
        </div>

        <div id="sectionC" class="tab-pane fade">
            <h3>Tasks</h3>
            
        </div>

        <div id="sectionD" class="tab-pane fade">
            <h3>Contributors</h3>
            <p>Query for collaborates goes here</p>
        </div>

        <div id="sectionE" class="tab-pane fade">
            <h3>Followers</h3>
            <p>Query for follows goes here</p>
        </div>
    </div>
</div>

<% if @git != nil %>
<div class= "col-md-6">
<h3>GitHub Repository</h3>      
</div>
<% end %>

