<script type="text/javascript">
      try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div id="sidebar" class="hidden-md hidden-lg visible-phone sidebar responsive">
      <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
      </script>




      <ul class="nav nav-list">

      <% unless user_signed_in? %>
      	<li class="active">
      		<a href="#" class="dropdown-toggle">
      			<i class="fa fa-power-off"></i>
      			<span class="menu-text">
      				Log In
      			</span>
      			<b class="arrow fa fa-angle-down"></b>
      		</a>
      		<b class="arrow"></b>

      		<ul class="submenu">
      			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
      			<li class="input-sm">
      				<%= f.text_field :email, :placeholder => "email" %>
      				<b class="arrow"></b>
      			</li>

      			<li class="input-sm">
      				<%= f.password_field :password, :placeholder => "password" %>
      				<b class="arrow"></b>
      			</li>
      			<li class="input-sm">
      				<%= f.check_box :remember_me %> Remember Me
      				<b class="arrow"></b>
      			</li>
      			<li class="input-sm">
      				<%= link_to "Forgot your password?", new_password_path(:user) %>
      				<b class="arrow"></b>
      			</li>
      			<li class="input-sm">
      				<%= f.submit 'Sign in' %>
      				<b class="arrow"></b>
      			</li>
      			<% end %>
      		</ul>
      	</li>


      	<% else %>
      	<li class="">
      		
      		<a href="/projects">
			<i class="menu-icon fa fa-cubes"></i>
      		<span class="menu-text">Projects</span>
      		</a>
      		<b class="arrow"></b>
      	</li>

      	<li class="">
      		<a href="/users">
			<i class="menu-icon fa fa-users"></i>
      		<span class="menu-text">Users</span>
      		</a>
      		<b class="arrow"></b>
      	</li>

      	<li class="">
      		<a href="/projects/new">
			<i class="menu-icon fa fa-plus"></i>
      		<span class="menu-text">New Project</span>
      		</a>
      		<b class="arrow"></b>
      	</li>



      	<li class="">
      		<a href="#" class="dropdown-toggle">
      			<i class="menu-icon fa fa-user"></i>
      			<span class="menu-text">
      				Me
      			</span>
      			<b class="arrow fa fa-angle-down"></b>
      		</a>
      		<b class="arrow"></b>

      		<ul class="submenu">
      			<li class="">
      					<li class="dropdown-toggle"><%= link_to 'View my account', current_user %></li>
      			</li>
      			<li class="">
      					<li class="dropdown-toggle"><%= link_to 'Edit my account', edit_user_registration_path %></li>

      			</li>
      		</ul>
      	</li>


		<li class="">
      		<a href="/users/sign_out" data-method="delete">
			<i class="menu-icon fa fa-power-off"></i>
      		<span class="menu-text">Sign Out</span>
      		</a>
      		<b class="arrow"></b>
      	</li>
      	<% end %>
      	
      </ul><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
          <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>

        <script type="text/javascript">
          try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
        </script>
      </div>